.dynamicCounters            
    border: 2px solid var(--btn-border-color)
    width: 9rem
    height: 5rem
    padding: 1rem
    margin-right: 2rem
    margin-bottom: 0 !important
    h1
        font-size: var(--big-text-size)
        font-weight: var(--semi-bold)
        color: var(--btn-border-color)
        margin: 0
        margin-bottom: .5rem
    p
        font-size: var(--small-text-size)
        font-weight: var(--regular)
        color: var(--btn-border-color)
        margin: 0
