@import './sVariables'
//Background style

.noise    
    position: fixed
    left: 0
    top: 0
    width: 100vw
    height: 100vh
    background-image: url('../resources/noise.png')
    background-repeat: repeat !important        
    ansform: scale(0.05)
    //filter: contrast(200%)
    opacity: .7
    //opacity: .05

.Blob
    user-select: none
    width: var(--blob-sizeX)
    height: var(--blob-sizeY)
    //opacity: 0.15    
    filter: blur(125px)
    position: fixed
    opacity: var(--blob-opacity)
    animation: leBlobs 45s infinite ease-in
    //animation: fadeInAnim 10s once ease-in
    z-index: 1 !important
    &:nth-of-type(1)
        bottom: 0
    &:nth-of-type(2)
        top: 0
        right: 0
        animation: leBlobs 60s infinite ease-in //adds delay to second blob
        //animation: fadeInAnim 5s 1 ease-in
    path
        fill: var(--blob-color)

.Blob:nth-of-type(2)
    path
        fill: var(--blob2-color)

@keyframes fadeInAnim
    0%
        opacity: 0
    100%
        opacity: var(--blob-opacity)

@keyframes leBlobs
    0%
        filter: blur(150px)
        transform: translate(0%, 0)
    10%
        filter: blur(180px)
    20%
        filter: blur(150px)
        transform: translate(-50%, 0)
    30%
        filter: blur(125px)
    40%
        filter: blur(120px)
        transform: translate(-25%, 0)
    50%
        filter: blur(125px)
    60%
        filter: blur(145px)
        transform: translate(0%, -25%)
    70%
        filter: blur(125px)
    80%
        filter: blur(150px)
        transform: translate(10%, 0%)
    90%
        filter: blur(130px)
