@import './sVariables'

.btn
  width: fit-content
  border: 1.75px solid $font-secColor
  padding: 1em
  padding-right: .6em
  padding-left: .6em
  padding-top: 0.5em
  padding-bottom: 0.5em
  background: none
  color: $font-secColor
  font-size: $font-nav-size
  transition: .10s ease-in-out
  cursor: pointer
  user-select: none
  margin: .5rem  
  &:active    
    border-color: #c4c4c4
    background: #c4c4c4

  p
    display: inline    
    margin-right: 0.3em    
    margin-left: 0.25em    
  svg            
    stroke: $font-secColor
    stroke-width: 2.25
    margin-right: 0.3em    
    margin-left: 0.3em    
    width: 15px
    height: 15px  