@import './sVariables'

.btn
  width: fit-content
  border: 2px solid var(--btn-border-color)
  padding: 1em
  padding-right: .6em
  padding-left: .6em
  padding-top: 0.5em
  padding-bottom: 0.5em
  background: none
  color: var(--font-secColor)
  font-size: var(--general-text-size)
  transition: .10s ease-in-out
  cursor: pointer
  user-select: none
  //margin: 0.5rem  
  &:active
    border-color: #c4c4c4
    background: #c4c4c4

  p
    display: inline
    margin-right: 0.3em
    margin-left: 0.25em
  svg
    stroke: var(--btn-border-color)
    stroke-width: 2.25
    margin-right: 0.3em
    margin-left: 0.3em
    width: var(--btn-icon-size)
    height: var(--btn-icon-size)
