@import './sVariables'

//Navigation bar
nav
    position: fixed
    width: var(--nav-width)
    height: 100vh
    right: 0
    font-weight: 400
    font-size: var(--general-text-size)
    z-index: 2
    border-left: 3px solid var(--border-c)
    box-shadow: -2px 0px 0px var(--border-c2)

.navigationBar
    padding-top: var(--nav-top-padding)
    text-align: right
    margin-right: var(--nav-links-pading)
    li
        display: block
        margin-right: 3rem
        margin-bottom: .5rem
        justify-items: right
        a
            color: var(--font-thirdColor)
            text-decoration: none
            &:active
                color: var(--navActive)

.navigationItemActive
    color: var(--navActive !important)