@import './sVariables'

//Navigation bar
nav
    position: fixed
    width: var(--nav-width)
    height: auto
    right: 0
    font-weight: 400
    font-size: var(--general-text-size)
    margin-top: var(--nav-top-padding)
    margin-right: var(--nav-links-pading)
    //border-left: 3px solid var(--border-c)
    //box-shadow: -2px 0px 0px var(--border-c2)

.navigationBar    
    text-align: right    
    li
        display: block
        margin-right: 2.5vw
        margin-bottom: .5rem
        justify-items: right
        a
            color: var(--font-thirdColor)
            text-decoration: none
            &:active
                color: var(--navActive)

.navigationItemActive
    color: var(--navActive !important)