//Default color scheme
:root {
    //Fonts
    --font: 'Mulish', sans-serif;
    --content-width: 75vw;
    --bg-color: white;
    --font-color: #777777;
    --font-secColor: #777777;
    --font-thirdColor: #777777;

    //Texts
    --header-text-size: 5vw;
    --big-text-size: 2vw;
    --general-text-size: 1.35vw;
    --small-text-size: 1vw;    
    --light: 300;
    --regular: 400;
    --semi-bold: 600;
    --bold: 700;
    --content-z-index: 10 !important;

    //media
    --prf-img-width: 12vw;
    --prf-img-height: 15vw;
    --prf-inn-width: 13vw;
    --about-width: 25vw;

    //Nav
    --nav-top-padding: 5vw;
    --nav-width: 13vw;
    --nav-links-pading: 1.5vw;
    --border-c: white; //Navigation Bar;
    --border-c2: #c8c8c86b;
    --navActive: white;

    //Buttons
    --btn-icon-size: 1vw;
    --btn-icon-size-small: .75vw;
    --btn-top-margin: 4vw;
    --btn-top-margin2: 2vw;
    --btn-border-color: #8d8d8d;
    --btn-border-color-f: #b0b0b0e6;

    //blobs
    --blob-color: #1400FF;
    --blob2-color: #68FB0F;
    --blob-opacity: 0.35;
    --blob-sizeX: calc(60vw * .6);
    --blob-sizeY: calc(35vw * .6);

}

//Dark color scheme
@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #141414;
        --blob-color: white;
        --blob2-color: white;
        --blob-opacity: 0.10;
        ;
        --font-color: #e9e9e9;
        --font-secColor: #AFAFAF;
        --font-thirdColor: #787878;
        //*Navigation Bar*/;
        --border-c: #161616;
        --border-c2: #3f3f3f;
        --navActive: white;
    }
}

