//Default color scheme
:root {    
    --font: 'Mulish', sans-serif;    
    --header-text-size: 70px;
    --big-text-size: 50px;
    --general-text-size: 25px;
    --small-text-size: 10px;
    --light: 300;
    --regular: 400;
    --semi-bold: 600;
    --bold: 700;    

    --nav-top-padding: 5rem;
    --nav-width: 12rem;
    --nav-links-pading: 1rem;
    --btn-icon-size: 15px;
    --btn-top-margin: 3.2rem;
    --btn-border-color: #AFAFAF;
    --btn-border-color-f:  rgba(175, 175, 175, 0.9);

    --content-width: 75vw;
    --bg-color: white;
    --blob-color: #1400FF;
    --blob2-color: #68FB0F;
    --blob-opacity: 0.35;
    --blob-sizeX:calc( 1065px * .6);
    --blob-sizeY: calc( 589px * .6);
    --font-color: #777777;
    --font-secColor: #777777;
    --font-thirdColor: #777777;
    --border-c: white; //Navigation Bar;
    --border-c2: #c8c8c86b;
    --navActive: white;    
}
//Dark color scheme
@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #141414;
        --blob-color: white;
        --blob2-color: white;      
        --blob-opacity: 0.10;        ;
        --font-color: #FFFFFF;
        --font-secColor: #AFAFAF;
        --font-thirdColor: #787878;
        //*Navigation Bar*/;
        --border-c: #161616;
        --border-c2: #3f3f3f;
        --navActive: white;
    }
}

//1080
@media only screen and (min-width: 1920px) {
    :root {
        --header-text-size: 100px;
        --general-text-size: 25px;
        --small-text-size: 20px;
        --nav-top-padding: 5rem;
        --nav-links-pading: 2rem;
        --nav-width: 18rem;
        --btn-icon-size: 22px;
        --btn-top-margin: 5rem;
        --blob-sizeX:calc( 1065px * .9);
        --blob-sizeY: calc( 589px * .9);
    }
}
//2k
@media only screen and (min-width: 2048px) {
    :root {
        --header-text-size: 120px;
        --general-text-size: 25px;
        --small-text-size: 30px;
        --nav-top-padding: 7rem;
        --nav-links-pading: 4rem;
        --nav-width: 20rem;
        --btn-icon-size: 20px;
        --btn-top-margin: 7rem;

        --blob-sizeX:calc( 1065px * 1.2);
        --blob-sizeY: calc( 589px * 1.2);
    }
}