@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
$font: 'Mulish', sans-serif
$font-nav-size: 22px    
    
$content-width: 75vw
$bg-color: white
$font-color: #777777
$font-secColor: #777777
$font-thirdColor: #777777

//Navigation Bar
$border-c: white
$border-c2: #c8c8c86b
$navActive: white


@media (prefers-color-scheme: dark) 
$bg-color: #1F1F1F
$font-color: #FFFFFF
$font-secColor: #AFAFAF
$font-thirdColor: #787878

//Navigation Bar
$border-c: #000000
$border-c2: #656565
$navActive: white

//Buttons
$border-c: #000000
$border-c2: #656565
$navActive: white