@import './Components/sVariables'

html
  background: $bg-color
  color: $font-color
  padding: 0
  margin: 0

.App
  font-family: $font
  padding: 0
  margin: 0
  width: 100vw
  height: 100vh
  overflow-x: hidden
  scroll-snap-type: y mandatory
  z-index: 1

.section
  scroll-snap-align: start
  border: 1px solid transparent
  width: $content-width
  height: 100vh
  margin-left: auto
  margin-right: auto
  z-index: 100

//Content 1
.mainContent
  position: relative
  height: 100vh
  // height: 100vh/;
  z-index: 2

h1
  padding-top: 3rem
  font-size: $header-text-size
  font-weight: 500
  color: $font-color
  line-height: 100%
  margin-bottom: $btn-top-margin
