@import './Components/sVariables'

html
  background: $bg-color
  color: $font-color

.App
  font-family: $font
  padding: 0
  margin: 0
  width: 100vw
  height: 100vh
  z-index: 1
  display: flex
  justify-content: center

//Background style

.noise
    width: 100vw
    height: 100vh
    position: fixed
    background-image: url('./resources/noise.png')
    transform: scale(1.1)
    background-repeat: repeat
    z-index: 2

.Blob
    width: calc( 1065px *  .7)
    height: calc( 589px *  .7)
    opacity: 0.15
    filter: blur(150px)
    position: fixed
    &:nth-of-type(1)
      bottom: 0
      
    &:nth-of-type(2)
      top:0
      right: 0
      

.slider
  position: fixed
  right: 0
  top: 0
  width: 120px
  height: 100vh
  border-left: 2px solid $slider1
  filter: drop-shadow(-2px 0px 0px $slider2)

.section
  width: $content-width
  z-index: 100
  min-height: auto
  .mainContent
    height: 100vh
  .About
    height: 100vh


//Navigation bar
nav
  position: fixed
  font-weight: 400
  font-size: 18px
  margin-top: 2em
  width: inherit

.navigationBar
  float: right
  width: fit-content

li
  display: inline
  margin-right: 2em
  a
    color: $font-color
    text-decoration: none

